<header class="headMenu">
    <ul class="navigation">
        <li id="logo"><a href="#"><img src="~/Images/logoFreecon.png" alt="beehive" title="beehive" width="50" height=100%></a></li>
        <li class="navigation">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">My Profile</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="">balance</a></li>
        <li><a href="home.html">log out</a></li>
    </ul>
</header>