<nav class="sideMenu">
    <ul class="serviceMenu">
        <li><h2><strong><a class="mainCategory" href="">ΤΕΧΝΙΚΑ ΕΠΑΓΓΕΛΜΑΤΑ</a></strong></h2>
        <li><h3><strong><a href="~/SearchPage/4">ΥΔΡΑΥΛΙΚΟΣ</a></strong></h3>
        <li><h3><strong><a href="~/SearchPage/5">ΗΛΕΚΤΡΟΛΟΓΟΣ</a></strong></h3>
        <li><h3><strong><a href="~/SearchPage/6">ΤΕΧΝΙΚΟΣ Η/Υ</a></strong></h3>
    </ul>
    <ul class="serviceMenu">
        <li><h2><strong><a class="mainCategory" href="">ΜΑΘΗΜΑΤΑ ΚΑΤ ΟΙΚΟΝ</a></strong></h2>
        <li><h3><strong><a href="~/SearchPage/1">ΘΕΤΙΚΕΣ ΕΠΙΣΤΗΜΕΣ</a></strong></h3>
        <li><h3><strong><a href="~/SearchPage/2">ΦΙΛΟΛΟΓΙΚΑ</a></strong></h3>
        <li><h3><strong><a href="~/SearchPage/3">ΜΑΘΗΜΑΤΑ ΧΟΡΟΥ</a></strong></h3>
    </ul>
    <ul class="serviceMenu">
        <li><h2><strong><a class="mainCategory" href="#">ΑΥΤΟΚΙΝΗΤΟ</a></strong></h2>
        <li><h3><strong><a href="~/SearchPage/7">ΜΗΧΑΝΙΚΟΣ ΑΥΤΟΚΙΝΗΤΩΝ</a></strong></h3>
        <li><h3><strong><a href="~/SearchPage/8">ΚΑΘΑΡΙΣΜΟΣ ΑΥΤΟΚΙΝΗΤΟΥ</a></strong></h3>
        <li><h3><strong><a href="~/SearchPage/9">ΦΑΝΟΠΟΙΟΣ</a></strong></h3>
    </ul>
    <ul class="serviceMenu">
        <li><h2><strong><a class="mainCategory" href="#">ΣΠΙΤΙ ΚΑΙ ΟΙΚΟΓΕΝΕΙΑ</a></strong></h2>
        <li><h3><strong><a href="~/SearchPage/10">ΟΙΚΙΑΚΗ ΒΟΗΘΟΣ</a></strong></h3></li>
        <li><h3><strong><a href="~/SearchPage/11">ΦΥΛΑΞΗ ΠΑΙΔΙΩΝ</a></strong></h3></li>
        <li><h3><strong><a href="~/SearchPage/12">ΦΡΟΝΤΙΔΑ ΗΛΙΚΙΩΜΕΝΩΝ</a></strong></h3></li>
    </ul>
    <ul class="serviceMenu">
        <li><h2><strong><a class="mainCategory" href="">ΓΕΩΡΓΙΚΑ ΕΠΑΓΓΕΛΜΑΤΑ</a></strong></h2>
        <li><h3><strong><a href="~/SearchPage/13">ΚΗΠΟΥΡΟΣ</a></strong></h3>
        <li><h3><strong><a href="~/SearchPage/14">ΓΕΩΠΟΝΟΣ</a></strong></h3>
        <li><h3><strong><a href=""></a></strong></h3>
    </ul>
    <ul class="serviceMenu">
        <li><h2><strong><a class="mainCategory" href="">ΥΓΕΙΑ ΚΑΙ ΟΜΟΡΦΙΑ</a></strong></h2>
        <li><h3><strong><a href="~/SearchPage/16">ΚΟΜΜΩΤΙΚΗ</a></strong></h3></li>
        <li><h3><strong><a href="~/SearchPage/17">ΚΟΣΜΙΤΙΚΗ</a></strong></h3></li>
        <li><h3><strong><a href="~/SearchPage/19">ΓΥΜΝΑΣΤΗΣ</a></strong></h3></li>
        <li><h3><strong><a href="~/SearchPage/18">ΜΑΣΕΡ</a></strong></h3></li>
    </ul>
    <ul class="serviceMenu">
        <li><h2><strong><a class="mainCategory" href="">ΑΣΦΑΛΕΙΑ</a></strong></h2>
        <li><h3><strong><a href="~/SearchPage/15">ΤΕΧΝΙΚΟΣ ΑΣΦΑΛΕΙΑΣ</a></strong></h3></li>
    </ul>
</nav>