<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://personal-konstantinidis-freeconservicecataloge.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>personal-konstantinidis-freeconservicecataloge.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Personal-Konstantinidis-FreeconServiceCataloge</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Personal-Konstantinidis-FreeconServiceCataloge</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Freecon" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:personal-konstantinidis-freeconservicecatalogedbserver.database.windows.net,1433;Initial Catalog=Personal-Konstantinidis-FreeconServiceCataloge_db;User ID=nickos@personal-konstantinidis-freeconservicecatalogedbserver;Password=P0werinthenet" Name="Data Source=tcp:personal-konstantinidis-freeconservicecatalogedbserver.database.windows.net,1433;Initial Catalog=Personal-Konstantinidis-FreeconServiceCataloge_db;User Id=nickos@personal-konstantinidis-freeconservicecatalogedbserver;Password=P0werinthenet" />
          <Object Type="DbDacFx" Enabled="True">
            <PreSource Path="Data Source=KANIVALOS\SQLEXPRESS;Initial Catalog=Freecon;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Freecon_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=KANIVALOS\SQLEXPRESS;initial catalog=Freecon;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbFullSql">
            <Source Path="FullFreeconQuery.sql" Transacted="False" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Freecon-Web.config Connection String">
      <ParameterValue>data source=tcp:personal-konstantinidis-freeconservicecatalogedbserver.database.windows.net,1433;initial catalog=Personal-Konstantinidis-FreeconServiceCataloge_db;user id=nickos@personal-konstantinidis-freeconservicecatalogedbserver;password=P0werinthenet;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>